@require 'helpers'

// walkghrough:
// * gulp task / starting
// * reloading and auto-building
// * stylus files
//
// * autoprefixer
// * color function
// * simplified_bem mixin
//
// Flexbox
// display: flex;
// flex-flow: row-nowrap;
// flex: 1
// open flexbox site.
//
// Units of measure:
// * px
// * em
// * rem
// * vw/vh, vmax, vmin


h1{
  color: green
}
.test{
  padding: 5px;
  margin: 5px;
  background: #ccc;
  border: 2px solid purple;
  color: white;
  display flex
}